<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>CV Bank</title>
    <style type="text/css">
        .form-info {
            display: flex;
            justify-content: center;
            max-width: 800px;
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }

        h1 {
            text-align: center;
        }


        .buttons {
            display: flex;
            max-width: 40%;
            margin-right: auto;
            margin-left: auto;
            margin: auto;
            display: flex;



        }

        button {
            white-space: normal;
            word-wrap: break-word;
        }

        .btn {
            white-space: nowrap;
            text-align: center;
        }

        textarea {
            width: 400px;
            margin: auto auto;

        }


        h1 {
            margin-top: 10%;
        }

        form {
            margin-top: 5%;
        }

        #file-name {
            width: 100%;
        }

        .nav ul {
            margin: 1rem 0;
        }

        .nav {
            display: flex;
            justify-content: space-around;
            background: black;
            /* text-align: center; */

        }

        li {
            display: inline;
            /* text-align: center; */
            vertical-align: 50;

        }

        /* Add a black background color to the top navigation */
        .topnav {
            position: relative;
            background-color: #333;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

        /* Centered section inside the top navigation */
        .topnav-centered a {
            float: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }

        .single-firm {
            margin-right: 5px;
            margin-left: 5px;
            border: 1px solid;
            height: fit-content;
            padding: 0 4px;
            border-radius: 4px;
            background-color: #05868e;
            color: white;
        }

        @media screen and (max-width: 990px) {
            .add-button {
                margin-top: 24px;
            }
        }



        /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
        @media screen and (max-width: 600px) {

            .topnav a,
            .topnav-right {
                float: none;
                display: block;
            }

            .topnav-centered a {
                position: relative;
                top: 0;
                left: 0;
                transform: none;
            }
        }

        #listed-firms {
            width: 50%;
            height: 70px;
            overflow: auto;
            max-width: 800px;
            overflow: auto;
            display: flex;
            justify-content: center;
            margin: 20px auto;
            border-radius: 10px;
            padding: 5px;
            flex-wrap: wrap;
        }

        .date {
            width: 180px;

        }

        .date-label {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #addNumOfInterviews {
            margin-top: 24px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a href="/candidate/new">Add a Candidate</a>
        <a href="/search-candidates">Search</a>
        <a href="/upload">Upload Folder</a>
    </div>

    <div class="container">
        <h1> Add a Candidate to the Database</h1>
        <div id="main-form form-group">

            <form id="candidate-data" enctype="multipart/form-data">
                <div id="name" class="form-info left-box">
                    <div class="form-entity">
                        <label for="first-name">First Name: <input type="text" name="first-name" id="first-name" class="form-control"
                                placeholder="First Name"
                                value=<%=candidate.firstName ? candidate.firstName:'' %>></label>
                    </div>
                    <div class="form-entity right-box">
                        <label for="last-name">Last name: <input type="text" name="last-name" class="form-control"
                                placeholder="Last Name" id="last-name"
                                value=<%= candidate.lastName ? candidate.lastName :'' %>></label>
                    </div>
                </div>
                <div class="form-info">
                    <div class="form-entity left-box">
                        <label for="gender">Gender: <input type="text" id="gender" name="gender" class="form-control"
                                placeholder="Gender" value=<%= candidate.gender ? candidate.gender : '' %>></label>
                    </div>
                    <div class="form-entity right-box">
                        <label for="email">E-mail: <input id='email' type="text" name="email" class="form-control"
                                placeholder="E-mail" value=<%= candidate.email ? candidate.email : '' %>></label>
                    </div>
                </div>

                <div class="form-info">
                    <div class="form-entity right-box">
                        <label for="degree">Degree:
                            <input name="degree" type="text" placeholder="Degree" class="form-control"
                                value=<%= candidate.degree ? candidate.degree : ''%>>
                        </label>
                    </div>
                    <div class="form-entity left-box">
                        <label for="uni">University <input type="text" name="uni" placeholder="University"
                                class="form-control" value=<%= candidate.uni ? candidate.uni : ''%>></label>
                    </div>
                </div>
                <div id="mcQuaig-score" class="form-info ">
                    <div class="form-entity left-box">
                        <label for="mcQuaig-score">McQuaig Score: <input type="text" name="score" placeholder="Score"
                                class="form-control"
                                value=<%= candidate.score ? candidate.score.wrong+"\xA0"+candidate.score.empty+"\xA0"+candidate.score.correct  : '' %>></label>
                    </div>
                    <div class="form-entity right-box">
                        <label for="likert-scale">
                            Likert Score:
                            <input type="number" name="likert-scale" placeholder="Likert Scale Score"
                                class="form-control" value=<%=candidate.likertScale ? candidate.likertScale:''%>>
                        </label>
                    </div>
                </div>

                <div id="uni" class="form-info">
                    <div class="form-entity left-box">
                        <label for="current-position">Current/last Position<input name="current-position" type="text"
                                placeholder="Current Position" class="form-control"
                                value=<%= candidate.currentPosition ? candidate.currentPosition : '' %>></label> </div>
                    <div class="form-entity right-box">
                        <label for="wanted-position">Wanted Position: <input name="wanted-position" type="text"
                                placeholder="Wanted Position" class="form-control"
                                value=<%= candidate.wantedPosition ? candidate.wantedPosition : '' %>></label> </div>
                </div>
                <div class="form-info ">
                    <div class="form-entity left-box">
                        <label for="last-salary">Last Salary: <input type="text" name="last-salary"
                                placeholder="Last Salary" class="form-control"
                                value=<%= candidate.lastSalary ? candidate.lastSalary : '' %>></label> </div>
                    <div class="form-entity right-box">
                        <label for="expected-salary">Expected Salary:<input type="text" name="expected-salary"
                                placeholder="Expected Salary" class="form-control"
                                value=<%= candidate.expectedSalary ? candidate.expectedSalary : '' %>></label>
                    </div>
                </div>
                <div class="form-info ">
                    <div class="form-entity left-box">
                        <label for="interviewer">Interviewer: <input type="text" name="interviewer"
                                placeholder="Interviewing Consultant" class="form-control"
                                value=<%= candidate.interviewer ? candidate.interviewer : '' %>></label>
                    </div>
                    <div class="form-entity right-box">
                        <label for="data-enterer">Data Enterer: <input type="text" name="data-enterer"
                                placeholder="This Will be dropdown" class="form-control"
                                value=<%= candidate.dataEnterer ? candidate.dataEnterer : '' %>></label>
                    </div>
                </div>

                <div class="form-info ">
                    <div class="form-entity left-box">
                        <label for="field-of-study">Field of Study: <input type="text" name="field-of-study"
                                class="form-control" placeholder="Field of Study"
                                value=<%= candidate.fieldOfStudy ? candidate.fieldOfStudy : '' %>></label>
                    </div>
                    <div class="form-entity right-box">
                        <label for="tech-used">Technologies Used <input type="text" name="tech-used"
                                class="form-control" placeholder="Technologies Used"
                                value=<%= candidate.techUsed ? candidate.techUsed : '' %>></label>

                    </div>

                </div>
                <div class="form-info">
                    <label for="number-of-inteviews">Number of Interviews: <input type="number"
                            name="number-of-interviews" class="form-control" placeholder="Number of Interviews"
                            id="interviewCount"
                            value=<%=candidate.aInterviewsInfo.length ? candidate.aInterviewsInfo.length: '' %>></label><button
                        class="btn btn-primary add-button" id="addNumOfInterviews" onclick="addFirmInfoInputs(event)"
                        style="vertical-align: text-bottom; height: fit-content;"> Add Interview
                        list</button>
                </div>
                <div id="interviewInfo">
                    <% for (let i=0;i<aParsedInterviewDates.length;i++){ %>
                    <div class="form-info ">
                        <div class="form-entity left-box">
                            <label for="firmName${i}">
                                Firm Name:
                                <input type="text" name="firm-name${i}" placeholder="Firm Name" class="form-control"
                                    value=<%= candidate.aInterviewsInfo[i].firmName %>>
                            </label>

                        </div>
                        <div class="form-entity right-box">
                            <label for="interviewDateFirm${i}">Date of Interview:
                                <input type="date" name="interview-date-firm${i}" class="form-control"
                                    value=<%=aParsedInterviewDates[i]%>>
                            </label>

                            <img src='/xicon.jpeg' style="height:25px; width:25px; cursor:pointer;"
                                onclick="deleteInterviewInfo(this)">
                        </div>
                    </div>


                    <%}%>
                                </div>

                                <div class="form-info ">
                                    <div class="form-entity left-box">
                                        <label class="date-label" for="date-of-interview-us">Date of Interview(us):
                                            
                                            <input type="date" name="date-of-interview-us" class="form-control"
                                                value=<%= sDateOfInterviewUs ? sDateOfInterviewUs:'' %>></label>

                </div>
                <div class="form-entity right-box">
                    <label for="phone-number">
                        Phone Number<input type="tel" class="form-control" id="phone-number"
                            pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" name="phone-number"
                            placeholder="Phone Number" value=<%= candidate.phoneNumber ? candidate.phoneNumber:'' %>>
                    </label>
                </div>
        </div>
        <div>
            <div class="form-info ">
                <div class="form-entity left-box">
                    <label for="languages">Languages Spoken:<input type="text" name="languages" placeholder="languages"
                            class="form-control"
                            value=<%=candidate.languages ? candidate.languages.join(", "): '' %>></label>
                </div>


                <div class="form-entity right-box">
                    <label for="experience">Experience:<input name="experience" type="number" class="form-control"
                            placeholder="Experience, in years"
                            value=<%=candidate.experience ? candidate.experience : '' %>></label>
                </div>

            </div>

            <div class="form-info">
                <div class="form-entity left-box">
                    <label for="folder-name">Folder Name:
                        <input type="text" name="folder-name" placeholder="Folder Name" class="form-control"
                            value=<%= candidate.folderName ? candidate.folderName : '' %>>
                    </label>


                </div>
                <div class="form-entity right-box">
                    <label for="keyWords">
                        Keywords:<input type="text" placeholder="Keywords" class="form-control" name="key-words"
                            value=<%=candidate.keyWords ? candidate.keyWords.join(", ") : ''%>>
                    </label>
                </div>
            </div>
            <div style="text-align: center;">
                
                <% for (cv in candidate.aCvURLs){ %>
                <div> <a target="_new" href =<%=candidate.aCvURLs[cv]%>> Candidate CV page <%=parseInt(cv)+1%></a></div>

                <%}%>
            </div>
            
            <div style="text-align: center;">
                <textarea type="text" id="notes" name="notes" placeholder="Notes" rows="7"
                    value=<%=candidate.notes ? candidate.notes : '' %>></textarea>
            </div>

        </div>


        <div class="buttons">
            <div class="left-box">
                <button class="btn btn-primary" id="save-candidate" onclick="saveCandidate(event)">Save
                    Candidate</button>
            </div>
            <div class="right-box">
                <input type="file" name="cv" id="uploader" multiple="" required>
            </div>

        </div>

        <div class="">
            <img src="#" id="uploaded-img" style="display: none;" />
        </div>

    </div>
    </form>

    </div>
    <script type="text/javascript">
        function highlighter() {
            const inputElements = document.getElementsByTagName("input");
            for (index in inputElements) {
                if (inputElements[index].value) {

                    inputElements[index].setAttribute("onchange", "removeHighlighter(this)");
                    inputElements[index].style = "color:#9e1f1f;     background: #dfe4ea;";
                }
            }
        }
        function removeHighlighter(e) {
            e.style.color = "black";
        }

        window.onload = highlighter();
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#uploaded-img').attr('src', e.target.result)
                        .css({ "width": "80%", "height": "auto", "display": "block" });

                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#uploader").change(function () {
            readURL(this);
        });
        const firmList = [];
        function addFirm(e) {

            e.preventDefault();
            const name = document.getElementById("firm-list").value;
            firmList.push(name);
            if (name) {
                $("#listed-firms").append(`<span id="${name}" class="single-firm">${name}
					<span onclick="deleteFirm(this)" style="margin-left:10px; cursor:pointer;">x</span></span>`);
            }
            $("#firm-list").val("");
            console.log("firmlist", firmList);

        }
        function deleteFirm(element) {
            const id = $(element).parent().attr('id');
            const index = firmList.indexOf(id);
            if (index > -1) {
                firmList.splice(index, 1);

            }

            console.log('firmlist', firmList);
            $(element).parent().remove();


        }
        function deleteInterviewInfo(element) {
            console.log(element);
            $(element).parent().parent().remove();

        }
        function addFirmInfoInputs(element) {
            element.preventDefault();

            interviewCount = parseInt(document.getElementById("interviewCount").value);
            interviewInputAreasCount = document.getElementById("interviewInfo").childElementCount;
            console.log(interviewCount);
            if (interviewCount > 6) {
                alert('The total number of interviews can not be over 6');
            }
            else {
                if (interviewCount && !interviewInputAreasCount) {
                    for (let i = 0; i < interviewCount; i++) {


                        $("#interviewInfo").append(`<div class="form-info "><div class="form-entity left-box">
													<label for="firmName${i}">
																	Firm Name:
													<input type="text" name="firm-name${i}" placeholder="Firm Name" class="form-control">
												</label>

											</div>
											<div class="form-entity right-box">
												<label for="interviewDateFirm${i}">Date of Interview:
													<input type="date" name="interview-date-firm${i}" class="form-control">
												</label>
												
												<img src='/xicon.jpeg' style="height:25px; width:25px; cursor:pointer;" onclick="deleteInterviewInfo(this)">
											</div></div>`);
                    }
                }

                else if (interviewInputAreasCount < interviewCount) {
                    for (let i = 0; i < interviewCount - interviewInputAreasCount; i++) {


                        $("#interviewInfo").append(`<div class="form-info "><div class="form-entity left-box">
													<label for="firmName${i}">
																	Firm Name:
													<input type="text" name="firmName${i}" placeholder="Firm Name" class="form-control">
												</label>

											</div>
											<div class="form-entity right-box">
												<label for="interviewDateFirm${i}">Date of Interview:
													<input type="date" name="interviewDateFirm${i}" class="form-control">
												</label>
												<!--<span style="font-size:em; color:red">DELETE</span>-->
												<img src='/xicon.jpeg' style="height:25px; width:25px; cursor:pointer;" onclick="deleteInterviewInfo(this)" >
											</div></div>`);
                    }
                }
            }

            console.log(interviewInputAreasCount);
        }
        function phoneNumberValidator(phoneNumber) {
            //We only want to validate it if the field has been filled
            if (phoneNumber) {
                let re = /^\d{11}$/;
                return re.test(phoneNumber);
            }
            //if the user hasn't filled in the field, leave him alone lol
            else {

                return true;
            }
        }
        function emailValidator(email) {
            //We only want to validate it if the field has been filled

            if (email) {
                let re = /\S+@\S+\.\S+/;
                return re.test(email);
            }
            //if the user hasn't filled in the field, leave him alone lol
            else {
                return true;
            }
        }
        function saveCandidate(e) {
            emailValidator(document.getElementById('email').value);
           
            e.preventDefault();
            let form = document.getElementById('candidate-data'),
                formData = new FormData(form),
                id=window.location.href.split("/")[4];

            formData.append('id', id)

            let isValidated = false;
            if (document.getElementById('first-name').value && document.getElementById('last-name').value && document.getElementById('gender').value) {
                isValidated = true;
            }
            if (isValidated && emailValidator(document.getElementById('email').value) && phoneNumberValidator(document.getElementById('phone-number').value)) {
                console.log(id);
            //     for (let pair of formData.entries()){
            //     console.log(pair[0]+"-"+pair[1]);
            // }

                fetch(`/candidate/${id}/edit`, {
                    method: 'PUT',
                    header:{"Content-Type":"multipart/form-data"},
                    body: formData
                    
                })
                .then(location.reload())
                .catch(err=>console.log(err));
                    
            }
            else if (!isValidated) {
                alert('please enter all fields necessary');
            }
            else if (!emailValidator(document.getElementById('email').value)) {
                alert('Please enter a valid E-mail address');
            }
            else if (!phoneNumberValidator(document.getElementById('phone-number').value)) {
                alert('Please enter a valid phone number');
            }




        }



    </script>

</body>

</html>