<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>CV Bank</title>
    <style type="text/css">
        .form-info {
            display: flex;
            justify-content: space-between;
            max-width: 500px;
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }

        h1 {
            text-align: center;
        }


        .buttons {
            display: flex;
            max-width: 40%;
            margin-right: auto;
            margin-left: auto;
            margin: auto;
            display: flex;



        }

        button {
            white-space: normal;
            word-wrap: break-word;
        }

        .btn {
            white-space: nowrap;
            text-align: center;
        }

        textarea {
            width: 400px;
            margin: auto auto;

        }


        h1 {
            margin-top: 10%;
        }

        form {
            margin-top: 5%;
        }

        #file-name {
            width: 100%;
        }

        .nav ul {
            margin: 1rem 0;
        }

        .nav {
            display: flex;
            justify-content: space-around;
            background: black;
            /* text-align: center; */

        }

        li {
            display: inline;
            /* text-align: center; */
            vertical-align: 50;

        }

        /* Add a black background color to the top navigation */
        .topnav {
            position: relative;
            background-color: #333;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

        /* Centered section inside the top navigation */
        .topnav-centered a {
            float: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }

        .single-firm {
            margin-right: 5px;
            margin-left: 5px;
            border: 1px solid;
            height: fit-content;
            padding: 0 4px;
            border-radius: 4px;
            background-color: #05868e;
            color: white;
        }

        .reverse-edit {
            margin: auto 2px;
            cursor: pointer;
            display: flex;
        }

        .box {
            display: flex;
        }

        @media screen and (max-width: 990px) {
            .add-button {
                margin-top: 24px;
            }
        }



        /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
        @media screen and (max-width: 600px) {

            .topnav a,
            .topnav-right {
                float: none;
                display: block;
            }

            .topnav-centered a {
                position: relative;
                top: 0;
                left: 0;
                transform: none;
            }
        }

        #listed-firms {
            width: 50%;
            height: 70px;
            overflow: auto;
            max-width: 800px;
            overflow: auto;
            display: flex;
            justify-content: center;
            margin: 20px auto;
            border-radius: 10px;
            padding: 5px;
            flex-wrap: wrap;
        }

        .date {
            width: 180px;

        }

        .date-label {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #addNumOfInterviews {
            margin-top: 24px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a href="/candidate/new">Add a Candidate</a>
        <a href="/search-candidates">Search</a>
        <a href="/upload">Upload Folder</a>
    </div>

    <div class="container">
        <h1> Add a Candidate to the Database </h1>
        <div id="main-form form-group">

            <form id="candidate-data" enctype="multipart/form-data">
                <div id="name" class="form-info ">
                    <div class="form-entity left-box">
                        <label for="first-name">First Name:</label>
                        <div class="box">
                            <input type="text" name="firstName" id="firstName" class="form-control"
                                placeholder="First Name" value=<%=candidate.firstName ? candidate.firstName:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div>
                    
                    </div>
                    <div class="form-entity right-box">
                        <label for="last-name">Last name:</label>
                            <div class="box">
                                <input type="text" name="lastName" class="form-control"
                                    placeholder="Last Name" id="lastName"
                                    value=<%= candidate.lastName ? candidate.lastName :'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span> <%}%>
                            </div>
                    </div>
                </div>

                <div class="form-info">
                    <div class="form-entity left-box">
                        <label for="gender">Gender:</label>
                        <div class="box">
                                <input type="text" name="gender" class="form-control"
                                    placeholder="Gender" id="gender"
                                    value=<%= candidate.gender ? candidate.gender :'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                            </div>
                    </div>
                    <div class="form-entity right-box">
                        <label for="email">E-mail: </label>
                        <div class="box">
                                <input type="email" name="email" class="form-control"
                                    placeholder="Email" id="email"
                                    value=<%= candidate.email ? candidate.email :'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                            </div>
                    </div>
                </div>

                <div class="form-info">
                    <div class="form-entity left-box">
                        <label for="degree">Degree:</label>
                        <div class="box">
                                <input type="text" name="degree" class="form-control"
                                    placeholder="Degree" id="degree"
                                    value=<%= candidate.degree ? candidate.degree :'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div>

                    </div>
                    <div class="form-entity left-box">
                        <label for="uni">University </label>
                        <div class="box">
                                <input type="text" name="uni" class="form-control"
                                    placeholder="University" id="uni"
                                    value=<%= candidate.uni ? candidate.uni :'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                            </div>
                    </div>
                </div>
                <div id="mcQuaig-score" class="form-info ">
                    <div class="form-entity left-box">
                        <label for="mcQuaig-score">McQuaig Score: </label> 
                        <div class="box">
                                <input type="text" name="score" class="form-control"
                                    placeholder="McQuaig Score" id="score"
                                    value=<%= candidate.score ? candidate.score.wrong+"-"+candidate.score.empty+"-"+candidate.score.correct :'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginalScore(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersionScore(this)" /></span>
                            <%}%>
                            </div>
                    </div>
                    <div class="form-entity right-box">
                        <label for="likert-scale"> Likert Score:</label>
                        
                        <div class="box">
                                <input type="text" name="likertScale" id="likertScale" class="form-control"
                                    placeholder="Likert Scale" value=<%=candidate.likertScale ? candidate.likertScale:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div>
                    </div>
                </div>

                <div id="uni" class="form-info">
                    <div class="form-entity left-box">
                        <label for="current-position">Current/last Position</label>
                        <div class="box">
                                <input type="text" name="currentPosition" class="form-control"
                                    placeholder="Current Position" id="current-position"
                                    value=<%= candidate.currentPosition ? candidate.currentPosition :'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-entity right-box">
                        <label for="wanted-position">Wanted Position:</label> 
                        <div class="box">
                            <input type="text" name="wantedPosition" id="wantedPosition" class="form-control"
                                placeholder="Wanted Position" value=<%=candidate.wantedPosition ? candidate.wantedPosition:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div> 
                    </div>
                </div>
                <div class="form-info ">
                    <div class="form-entity left-box">
                        <label for="last-salary">Last Salary:</label> 
                        <div class="box">
                                <input type="number" name="lastSalary" id="lastSalary" class="form-control"
                                    placeholder="Last Salary" value=<%=candidate.lastSalary ? candidate.lastSalary:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>

                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-entity right-box">
                        <label for="expected-salary">Expected Salary:</label>
                        <div class="box">
                            <input type="number" name="expectedSalary" id="expected-salary" class="form-control"
                                placeholder="Expected Salary" value=<%=candidate.expectedSalary ? candidate.expectedSalary:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="form-info ">
                    <div class="form-entity left-box">
                        <label for="interviewer">Interviewer: </label>
                        <div class="box">
                                <input type="text" name="interviewer" id="interviewer" class="form-control"
                                    placeholder="Interviewer" value=<%=candidate.interviewer ? candidate.interviewer:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-entity right-box">
                        <label for="data-enterer">Data Enterer: </label>
                        <div class="box">
                                <input type="text" name="dataEnterer" id="dataEnterer" class="form-control"
                                    placeholder="Data Enterer" value=<%=candidate.dataEnterer ? candidate.dataEnterer:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                            </div>
                    </div>
                </div>

                <div class="form-info ">
                    <div class="form-entity left-box">
                        <label for="field-of-study">Field of Study:</label>
                        <div class="box">
                                <input type="text" name="fieldOfStudy" id="fieldOfStudy" class="form-control"
                                    placeholder="Field of Study" value=<%=candidate.fieldOfStudy ? candidate.fieldOfStudy:'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                            </div>
                    </div>
                    <div class="form-entity right-box">
                        <label for="tech-used">Technologies Used:</label> 
                        <div class="box">
                                <input type="text" name="techsUsed" id="techsUsed" class="form-control"
                                    placeholder="Technologies Used" value=<%=candidate.techUsed ? candidate.techUsed.join(",\xA0"):'' %>>
                            <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                            <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px"
                                    width="20" onclick="backToOriginal(this)" /><img name="show-edited-version"
                                    src="/forward.png" height="20px" width="20"
                                    onclick="showEditedVersion(this)" /></span>
                            <%}%>
                            </div>

                    </div>

                </div>
                <div class="form-info">
                    <label for="number-of-inteviews">Number of Interviews: </label>
                    <div class="box">
                    
                    <input type="number"
                        name="numberOfInterviews" class="form-control" placeholder="Number of Interviews"
                        id="interviewCount" style="margin:auto;"
                        value=<%=candidate.aInterviewsInfo.length ? candidate.aInterviewsInfo.length: '' %>><button
                                class="btn btn-primary add-button" id="addNumOfInterviews"
                                onclick="addFirmInfoInputs(event)"
                                style="vertical-align: text-bottom; height: fit-content; margin:auto;"> Add Interview
                                list</button>
                        </div>
                    </div>
                    <div id="interviewInfo">
                        <% for (let i=0;i<aParsedInterviewDates.length;i++){ %>
                        <div class="form-info ">
                            <div class="form-entity left-box">
                                <label for="firmName${i}">
                                    Firm Name:
                                </label>
                                <input type="text" name="firm-name${i}" placeholder="Firm Name" class="form-control"
                                    value=<%= candidate.aInterviewsInfo[i].firmName %>>


                            </div>
                            <div class="form-entity right-box">
                                <label for="interviewDateFirm${i}">Date of Interview:</label>
                                <input type="date" name="interview-date-firm${i}" class="form-control"
                                    value=<%=aParsedInterviewDates[i]%>>


                                <img src='/xicon.jpeg' style="height:25px; width:25px; cursor:pointer;" onclick="deleteInterview
                        (this)">
                            </div>
                        </div>


                        <%}%>
                                </div>

                <div class="form-info ">
                   <div class="form-entity left-box">
                       <label class="date-label" for="date-of-interview-us">Date of Interview(us): </label>
                       <div class="box">
                            <input type="date" name="dateOfInterviewUs" id="dateOfInterviewUs" class="form-control"
                                value=<%=sDateOfInterviewUs ? sDateOfInterviewUs:'' %>>
                        <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                        <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px" width="20"
                                onclick="backToOriginalDateOfInterviewUs(this)" /><img name="show-edited-version"
                                src="/forward.png" height="20px" width="20"
                                onclick="showEditedVersionDateOfInterviewUs(this)" /></span> <%}%>
                    </div>

                    </div>
                <div class="form-entity right-box">
                    <label for="phone-number">
                        Phone Number:</label>
                        <div class="box">
                            <input type="tel" class="form-control" id="phoneNumber"
                            pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" name="phoneNumber"
                            placeholder="Phone Number" value=<%= candidate.phoneNumber ? candidate.phoneNumber:'' %>>
                        <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                        <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px" width="20"
                                onclick="backToOriginal(this)" /><img name="show-edited-version" src="/forward.png"
                                height="20px" width="20" onclick="showEditedVersion(this)" /></span>
                        <%}%>
                        </div>
                </div>
            </div>
        
            <div class="form-info ">
                <div class="form-entity left-box">
                    <label for="languages">Languages Spoken:</label>
                    <div class="box">
                            <input type="text" name="languages" id="languages" class="form-control"
                                placeholder="Languages" value=<%=candidate.languages ? candidate.languages.join(",\xA0"):'' %>>
                        <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                        <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px" width="20"
                                onclick="backToOriginal(this)" /><img name="show-edited-version" src="/forward.png"
                                height="20px" width="20" onclick="showEditedVersion(this)" /></span> <%}%>
                    </div>
                </div>


                <div class="form-entity right-box">
                    <label for="experience">Experience:</label>
                    <div class="box">
                            <input type="number" name="experience" id="experience" class="form-control"
                                placeholder="Experience" value=<%=candidate.experience ? candidate.experience:'' %>>
                        <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                        <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px" width="20"
                                onclick="backToOriginal(this)" /><img name="show-edited-version" src="/forward.png"
                                height="20px" width="20" onclick="showEditedVersion(this)" /></span> <%}%>
                    </div>
                </div>

            </div>

            <div class="form-info">
                <div class="form-entity left-box">
                    <label for="folder-name">Folder Name:</label>
                    <div class="box">
                            <input type="text" name="folderName" id="folderName" class="form-control"
                                placeholder="Folder Name" value=<%=candidate.folderName ? candidate.folderName:'' %>>
                        <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                        <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px" width="20"
                                onclick="backToOriginal(this)" /><img name="show-edited-version" src="/forward.png"
                                height="20px" width="20" onclick="showEditedVersion(this)" /></span>
                        <%}%>
                    </div>

                </div>
                <div class="form-entity right-box">
                    <label for="keyWords">Keywords:</label>
                    <div class="box">
                            <input type="text" name="keyWords" id="keyWords" class="form-control"
                                placeholder="Key Words" value=<%=candidate.keyWords ? candidate.keyWords.join(",\xA0"):'' %>>
                        <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                        <span class="reverse-edit"><img name="back-to-original" src="/back.png" height="20px" width="20"
                                onclick="backToOriginal(this)" /><img name="show-edited-version" src="/forward.png"
                                height="20px" width="20" onclick="showEditedVersion(this)" /></span> <%}%>
                    </div>

                </div>
            </div>
            <div style="text-align: center;">

                <% for (cv in candidate.aCvURLs){ %>
                        <div id="cvURLs"> <a target="_new" href=<%=candidate.aCvURLs[cv]%>> Candidate CV page
                                <%=parseInt(cv)+1%></a></div>

                        <%}%>
            </div>
            
            <div style="text-align: center;">
                <textarea type="text" id="notes" name="notes" placeholder="Notes" rows="7"
                    value=<%=candidate.notes ? candidate.notes : '' %>></textarea>
                    </div>
                    <div style="text-align: center;">Last Modified:
                        <%=candidate.lastModified?candidate.lastModified.toString().split("GMT")[0]:''%> </div>
                    <%if (candidate.pendingEditApproval||isEditSuggestion){%>
                    <div style="text-align: center;">Date of creation of Edit Suggestion:
                        <%=candidate.creationDate?candidate.creationDate.toString().split("GMT")[0]:''%> </div>
                    <%}%>




                    <div class="buttons">
                        <div class="left-box">
                            <%if (currentUser =="sr"&&!isEditSuggestion){%>
                    <button class="btn btn-primary" id="save-candidate" onclick="saveCandidate(event)">Save
                        Candidate</button>
                    <%}%>
                <%if (currentUser =="jr"){%>
                    <button class="btn btn-primary" id="suggest-edit" onclick="suggestEdit(event)">Suggest Edit
                    </button>
                    <%}%>
                    <% if (isEditSuggestion){%>
                    <button class="btn btn-primary" id="suggest-edit" onclick="saveChanges(event)">Save Changes
                    </button>
                    <%}%>
            </div>
            <div class="right-box">
                <input type="file" name="cv" id="uploader" multiple="" required>
            </div>

        </div>

        <div class="">
            <img src="#" id="uploaded-img" style="display: none;" />
        </div>

    </div>
    </form>

    </div>
    <script type="text/javascript" src='/edit-candidate.js'></script>

</body>

</html>